.osnova 
{
	background-color: gray;
	width: 150px;
	height: 440px;
	border-radius: 10px;
	font-size: 70px;
	text-align:center;
	padding: 1px 0;
	border: 5px solid black;
	margin: auto;
}
.circle 
{
	width: 120px;
	height: 120px;
	border-radius: 50%;
	margin-left: 15px;
	margin-top: 20px;
	line-height: 120px;
}
#zel 
{ 
    background-color:rgb(0, 108, 0); 
    box-shadow: 0 0 25px rgb(20, 163, 20); 
    
} 
#zhel 
{ 
    background-color: rgba(255, 255, 0, 0.805) ; 
    box-shadow: 0 0 25px rgb(255, 255, 0); 
} 
#kras 
{ 
    background-color: rgba(255, 0, 0, 0.751); 
    box-shadow: 0 0 25px red; 
} 